@font-face{
  font-family:'Oswald-Regular';
  src:url(../components/assets/fonts/Oswald-Regular.ttf) format('truetype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body;
    @apply bg-white;
    @apply text-white;
    scroll-behavior: smooth;
  }
}
